@charset "UTF-8";

@media screen and (min-width: 768px)  {
    i#menu_icon {
        display: none;
    } 
    menu{
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    menu > ul {
        text-align: center;
    }
}